In [179]:
#Importação das Bibliotecas
import pandas as pd
import numpy as np
import matplotlib as plt
from  sklearn.model_selection  import  train_test_split 
from  sklearn.tree  import  export_graphviz 
from  sklearn  import  tree
from  sklearn  import  metrics

In [180]:
#Importando as bases de dados
#Dataframe de treinamento
df_treino = pd.read_csv('train.csv')

#Dataframe de teste
df_teste = pd.read_csv('test.csv')

In [ ]:
#Vendo as 5 primeiras linhas do df_treino
df_treino.head()

In [ ]:
#Estatísticas
df_treino.describe()

In [ ]:
#Verificando valores nulos
df_treino.isnull().sum()

In [181]:
#Adicionando uma nova coluna e renomeando 
df_treino.insert(1, 'hours', '')
df_treino = df_treino.rename(columns = {'datetime': 'date'})
df_treino.head()

,date,hours,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [182]:
#Separando data de hora
aux_0 = df_treino['date'].unique()

for x in range(len(df_treino)-1):
    #Extraindo data
    aux_1 = aux_0[x]
    date = aux_1[0:10]

    df_treino.at[x, 'date'] = date

    #Extraindo hora
    aux_1 = aux_0[x]
    hours = aux_1[10:13]

    df_treino.at[x, 'hours'] = hours

In [183]:
#Visualizando o dataframe alterado
df_treino.head()

,date,hours,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01,00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01,01,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01,02,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01,03,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01,04,1,0,0,1,9.84,14.395,75,0.0,0,1,1